{% extends "site/base.html" %}

{% block title %}EZ Ride{% endblock %} 

{% block content %}
	<h1>EZ Ride</h1>
	<p>Para visualizar suas caronas e dados cadastrais, acesse o <a href="/profiles/">Painel de Controle</a>.</p> 
	<p>Confira as <a href="/graphs/">caronas</a>  disponíveis!</p>
{% endblock %}

{% block content-related %}
	<p>É possível definir mais coisas aqui.</p>
	<p>Para maiores informações, conferir o site do <a href="https://www.djangoproject.com/">Django</a>.</p>
	<p>Outro link interessante, template layers para <a href="https://docs.djangoproject.com/en/1.3/#the-template-layer">designers</a>.</p>
{% endblock %}
